@mixin puzzle(
  $widthContainer: 1800,
  $widthPuzzle,
  $heightPuzzle,
  $clipPathOter: null,
  $clipPathInner: null,
  $paddingTop: null,
  $paddingRight: null,
  $paddingBottom: null,
  $paddingLeft: null,
  $marginTop: null,
  $marginRight: null,
  $marginBottom: null,
  $marginLeft: null
) {
  width: percent($widthPuzzle, $widthContainer);
  aspect-ratio: #{$widthPuzzle} / #{$heightPuzzle};
  @if $clipPathOter != null {
    clip-path: url($clipPathOter);
  }

  @if $marginTop != null {
    margin-top: percent($marginTop, $widthContainer);
  }
  @if $marginRight != null {
    margin-right: percent($marginRight, $widthContainer);
  }
  @if $marginBottom != null {
    margin-bottom: percent($marginBottom, $widthContainer);
  }
  @if $marginLeft != null {
    margin-left: percent($marginLeft, $widthContainer);
  }

  .contact-puzzle {
    &__content {
      @if $paddingTop != null {
        padding-top: percent($paddingTop, $widthPuzzle);
      }
      @if $paddingRight != null {
        padding-right: percent($paddingRight, $widthPuzzle);
      }
      @if $paddingBottom != null {
        padding-bottom: percent($paddingBottom, $widthPuzzle);
      }
      @if $paddingLeft != null {
        padding-left: percent($paddingLeft, $widthPuzzle);
      }
      @if $clipPathInner != null {
        clip-path: url($clipPathInner);
      }
    }
    // .contact-puzzle__text
    &__text {
    }
    // .contact-puzzle__arrow
    &__arrow {
    }
  }
}

.contact-puzzle {
  $transition: 0.3s ease-out;
  position: relative;
  display: inline-flex;
  background-color: var(--color-contact-puzzle-border);

  // .contact-puzzle__content
  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-contact-puzzle-bg);
    transition: background-color $transition;
  }

  // .contact-puzzle__text
  &__text {
  }
  // .contact-puzzle__arrow
  &__arrow {
    flex-shrink: 0;
    flex-basis: var(--icon-size);
    height: var(--icon-size);
    transition: transform $transition;

    @include adaptiveValue('--icon-size', 32, 24, $containerWidth, 768, 1);
  }
  // .contact-puzzle__mask
  &__mask {
    position: absolute;
    width: 0;
    height: 0;
  }

  &__link {
    padding-bottom: rem(5);
    color: var(--color-contact-puzzle-design);
    border-bottom: rem(1) solid currentColor;
    transition: color 0.3s ease-out;

    @media (pointer: fine) {
      &:hover {
        color: var(--color-contact-puzzle-design-hover);
      }
    }

    &:active {
      color: var(---color-contact-puzzle-design-hover);
    }
  }

  @media (pointer: fine) {
    &:hover {
      .contact-puzzle {
        &__content {
          background-color: var(--color-contact-puzzle-bg-hover);
        }

        &__arrow {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &_1 {
    @include puzzle(
      $widthPuzzle: 935,
      $heightPuzzle: 159,
      $clipPathOter: '#puzzle-footer-outer-1',
      $clipPathInner: '#puzzle-footer-inner-1',
      $paddingLeft: 35,
      $paddingRight: 132,
      $marginRight: -57
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 376,
        $heightPuzzle: 74,
        $paddingLeft: 20,
        $paddingRight: 52,
        $marginRight: -24
      );
    }
  }

  &_2 {
    @include puzzle(
      $widthPuzzle: 914,
      $heightPuzzle: 217,
      $clipPathOter: '#puzzle-footer-outer-2',
      $clipPathInner: '#puzzle-footer-inner-2',
      $paddingLeft: 85,
      $paddingRight: 35,
      $paddingBottom: 60,
      $marginBottom: -60
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 376,
        $heightPuzzle: 101,
        $paddingLeft: 40,
        $paddingRight: 20,
        $marginBottom: -27
      );
    }
  }

  &_3 {
    @include puzzle(
      $widthPuzzle: 888,
      $heightPuzzle: 277,
      $clipPathOter: '#puzzle-footer-outer-3',
      $clipPathInner: '#puzzle-footer-inner-3',
      $paddingTop: 60,
      $paddingLeft: 35,
      $paddingRight: 85,
      $paddingBottom: 60,
      $marginTop: -62,
      $marginBottom: -62
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 357,
        $heightPuzzle: 132,
        $paddingLeft: 20,
        $paddingRight: 33,
        $marginTop: -30,
        $marginBottom: -30
      );
    }
  }

  &_4 {
    @include puzzle(
      $widthPuzzle: 953,
      $heightPuzzle: 159,
      $clipPathOter: '#puzzle-footer-outer-4',
      $clipPathInner: '#puzzle-footer-inner-4',
      $paddingRight: 35,
      $paddingLeft: 124,
      $marginTop: -4,
      $marginLeft: -49
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 391,
        $heightPuzzle: 74,
        $paddingLeft: 55,
        $paddingRight: 20,
        $marginTop: -1,
        $marginLeft: -20
      );
    }
  }

  &_5 {
    @include puzzle(
      $widthPuzzle: 888,
      $heightPuzzle: 159,
      $clipPathOter: '#puzzle-footer-outer-5',
      $clipPathInner: '#puzzle-footer-inner-5',
      $paddingRight: 85,
      $paddingLeft: 35,
      $marginTop: -3
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 357,
        $heightPuzzle: 74,
        $paddingLeft: 20,
        $paddingRight: 33
      );
    }
  }

  &_6 {
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: var(--color-contact-puzzle-border);
      clip-path: url(#puzzle-footer-inner-6);
    }

    .contact-puzzle {
      &__content {
        justify-content: flex-end;
        align-items: flex-end;
        background-color: transparent;
      }
    }

    @include puzzle(
      $widthPuzzle: 966,
      $heightPuzzle: 218,
      $clipPathOter: '#puzzle-footer-outer-6',
      $paddingTop: 60,
      $paddingRight: 35,
      $paddingBottom: 35,
      $paddingLeft: 70,
      $marginTop: -62,
      $marginLeft: -62
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 397,
        $heightPuzzle: 101,
        $paddingLeft: 55,
        $paddingRight: 20,
        $marginTop: -28,
        $marginLeft: -26
      );
    }
  }
}
