@mixin puzzle(
  $widthContainer: 1800,
  $widthPuzzle,
  $heightPuzzle: null,
  $absHeightPuzzle: null,
  $clipPathOter: null,
  $clipPathInner: null,
  $paddingTop: null,
  $paddingRight: null,
  $paddingBottom: null,
  $paddingLeft: null,
  $marginTop: null,
  $marginRight: null,
  $marginBottom: null,
  $marginLeft: null,
  $isTransparent: false
) {
  width: percent($widthPuzzle, $widthContainer);

  @if $clipPathOter != null {
    // приходится ограничивать сам пазл чтобы
    // ховер работал правильно у двух соседних пазлов
    clip-path: url($clipPathOter);
  }
  @if $heightPuzzle != null {
    aspect-ratio: #{$widthPuzzle} / #{$heightPuzzle};
  }
  @if $absHeightPuzzle != null {
    height: rem($absHeightPuzzle);
  }
  @if $marginTop != null {
    @if $absHeightPuzzle != null {
      margin-top: rem($marginTop);
    } @else {
      margin-top: percent($marginTop, $widthContainer);
    }
  }
  @if $marginRight != null {
    @if $absHeightPuzzle != null {
      margin-right: rem($marginRight);
    } @else {
      margin-right: percent($marginRight, $widthContainer);
    }
  }
  @if $marginBottom != null {
    @if $absHeightPuzzle != null {
      margin-bottom: rem($marginBottom);
    } @else {
      margin-bottom: percent($marginBottom, $widthContainer);
    }
  }
  @if $marginLeft != null {
    @if $absHeightPuzzle != null {
      margin-left: rem($marginLeft);
    } @else {
      margin-left: percent($marginLeft, $widthContainer);
    }
  }

  .contact-puzzle {
    &__content {
      @if $paddingTop != null {
        @if $absHeightPuzzle != null {
          padding-top: rem($paddingTop);
        } @else {
          padding-top: percent($paddingTop, $widthPuzzle);
        }
      }
      @if $paddingRight != null {
        padding-right: percent($paddingRight, $widthPuzzle);
      }
      @if $paddingBottom != null {
        @if $absHeightPuzzle != null {
          padding-bottom: rem($paddingBottom);
        } @else {
          padding-bottom: percent($paddingBottom, $widthPuzzle);
        }
      }
      @if $paddingLeft != null {
        padding-left: percent($paddingLeft, $widthPuzzle);
      }

      @if $clipPathInner != null and $isTransparent == false {
        clip-path: url($clipPathInner);
      }

      @if $isTransparent == true {
        justify-content: flex-end;
        align-items: flex-end;
        background-color: transparent;

        @include mdQuery(0, $pc) {
          padding-bottom: 0;
          align-items: center;
        }
      }
    }
    // .contact-puzzle__text
    &__text {
    }
    // .contact-puzzle__arrow
    &__arrow {
    }
    &__puzzle {
      @if $clipPathOter != null {
        clip-path: url($clipPathOter);
      }
      @if $isTransparent == true {
        background-color: transparent;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: var(--color-contact-puzzle-border);
          clip-path: url($clipPathInner);
        }
      }
    }
  }
}

.contact-puzzle {
  --color-contact-puzzle-border: var(--vspomogatelnyy-1);
  --color-contact-puzzle-bg: var(--sero-siniy);
  --color-contact-puzzle-hover-bg: var(--vspomogatelnyy-1);
  --color-contact-puzzle-design: var(--vspomogatelnyy-1);
  --color-contact-puzzle-design-hover: var(--white);
  @include lightTheme {
    --color-contact-puzzle-border: var(--sero-goluboy-light);
    --color-contact-puzzle-bg: var(--vspomogatelnyy-1-light);
    --color-contact-puzzle-hover-bg: var(--sero-goluboy-light);
    --color-contact-puzzle-design: var(--vspomogatelnyy-1-light);
    --color-contact-puzzle-design-hover: var(--vspomogatelnyy-light);
  }
  $transition: 0.3s ease-out;
  position: relative;
  display: inline-flex;
  overflow: hidden;

  &__puzzle {
    flex: 0 0 100%;
    height: 100%;
    background-color: var(--color-contact-puzzle-border);

    @mixin stateHoverActive {
      .contact-puzzle {
        &__content {
          background-color: var(--color-contact-puzzle-bg-hover);
        }

        &__arrow {
          transform: rotate(-45deg);
        }
      }
    }

    @media (pointer: fine) {
      &:hover {
        @include stateHoverActive;
      }
    }

    &:active {
      @include stateHoverActive;
    }
  }

  // .contact-puzzle__content
  &__content {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-contact-puzzle-bg);
    transition: background-color $transition;
  }

  // .contact-puzzle__text
  &__text {
    @include tablet-d {
      font-size: rem(18);
    }

    @include mdQuery(0, $mobile - 1) {
      font-size: rem(16);
    }
  }
  // .contact-puzzle__arrow
  &__arrow {
    flex-shrink: 0;
    flex-basis: var(--icon-size);
    height: var(--icon-size);
    transition: transform $transition;

    @include adaptiveValue('--icon-size', 32, 24, $containerWidth, $mobile, 1);
  }

  &__link {
    padding-bottom: rem(5);
    color: var(--color-contact-puzzle-design);
    border-bottom: rem(1) solid currentColor;
    transition: color 0.3s ease-out;

    @media (pointer: fine) {
      &:hover {
        color: var(--color-contact-puzzle-design-hover);
      }
    }

    &:active {
      color: var(---color-contact-puzzle-design-hover);
    }
  }

  &_1 {
    @include puzzle(
      $widthPuzzle: 935,
      $heightPuzzle: 159,
      $clipPathOter: '#puzzle-footer-outer-1',
      $clipPathInner: '#puzzle-footer-inner-1',
      $paddingLeft: 35,
      $paddingRight: 132,
      $marginRight: -57
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 376,
        $heightPuzzle: 74,
        $paddingLeft: 20,
        $paddingRight: 52,
        $marginRight: -24
      );
    }
  }

  &_2 {
    @include puzzle(
      $widthPuzzle: 914,
      $heightPuzzle: 217,
      $clipPathOter: '#puzzle-footer-outer-2',
      $clipPathInner: '#puzzle-footer-inner-2',
      $paddingLeft: 85,
      $paddingRight: 35,
      $paddingBottom: 60,
      $marginBottom: -60
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 376,
        $heightPuzzle: 101,
        $paddingLeft: 40,
        $paddingRight: 20,
        $marginBottom: -27
      );
    }
  }

  &_3 {
    @include puzzle(
      $widthPuzzle: 888,
      $heightPuzzle: 277,
      $clipPathOter: '#puzzle-footer-outer-3',
      $clipPathInner: '#puzzle-footer-inner-3',
      $paddingTop: 60,
      $paddingLeft: 35,
      $paddingRight: 85,
      $paddingBottom: 60,
      $marginTop: -62,
      $marginBottom: -62
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 357,
        $heightPuzzle: 132,
        $paddingLeft: 20,
        $paddingRight: 33,
        $marginTop: -30,
        $marginBottom: -30
      );
    }
  }

  &_4 {
    @include puzzle(
      $widthPuzzle: 953,
      $heightPuzzle: 159,
      $clipPathOter: '#puzzle-footer-outer-4',
      $clipPathInner: '#puzzle-footer-inner-4',
      $paddingRight: 35,
      $paddingLeft: 124,
      $marginTop: -4,
      $marginLeft: -49
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 391,
        $heightPuzzle: 74,
        $paddingLeft: 55,
        $paddingRight: 20,
        $marginTop: -1,
        $marginLeft: -20
      );
    }
  }

  &_5 {
    @include puzzle(
      $widthPuzzle: 888,
      $heightPuzzle: 159,
      $clipPathOter: '#puzzle-footer-outer-5',
      $clipPathInner: '#puzzle-footer-inner-5',
      $paddingRight: 85,
      $paddingLeft: 35,
      $marginTop: -3
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 357,
        $heightPuzzle: 74,
        // $paddingTop: 15,
        $paddingLeft: 20,
        $paddingRight: 33
      );
    }
  }

  &_6 {
    @include puzzle(
      $widthPuzzle: 966,
      $heightPuzzle: 218,
      $clipPathOter: '#puzzle-footer-outer-6',
      $clipPathInner: '#puzzle-footer-inner-6',
      $paddingTop: 60,
      $paddingRight: 35,
      $paddingBottom: 35,
      $paddingLeft: 70,
      $marginTop: -62,
      $marginLeft: -62,
      $isTransparent: true
    );

    @include tablet-d {
      @include puzzle(
        $widthContainer: 728,
        $widthPuzzle: 397,
        $heightPuzzle: 101,
        $paddingLeft: 55,
        $paddingRight: 20,
        $marginTop: -28,
        $marginLeft: -26
      );
    }
  }

  &_single-row {
    &_1 {
      @include puzzle(
        $widthContainer: 290,
        $widthPuzzle: 290,
        $absHeightPuzzle: 66,
        // $heightPuzzle: 66,
        $clipPathOter: '#puzzle-footer-outer-1-sr',
        $clipPathInner: '#puzzle-footer-inner-1-sr',
        $paddingLeft: 18,
        $paddingRight: 18,
        $marginBottom: -21
      );
    }

    &_2 {
      @include puzzle(
        $widthContainer: 290,
        $widthPuzzle: 290,
        $absHeightPuzzle: 106,
        // $heightPuzzle: 106,
        $clipPathOter: '#puzzle-footer-outer-2-sr',
        $clipPathInner: '#puzzle-footer-inner-2-sr',
        $paddingLeft: 18,
        $paddingRight: 18
      );
    }

    &_3 {
      @include puzzle(
        $widthContainer: 290,
        $widthPuzzle: 290,
        $absHeightPuzzle: 66,
        // $heightPuzzle: 66,
        $clipPathOter: '#puzzle-footer-outer-3-sr',
        $clipPathInner: '#puzzle-footer-inner-3-sr',
        $paddingLeft: 18,
        $paddingRight: 18,
        $marginTop: -19,
        $marginBottom: -23
      );
    }

    &_4 {
      @include puzzle(
        $widthContainer: 290,
        $widthPuzzle: 290,
        $absHeightPuzzle: 111,
        // $heightPuzzle: 111,
        $clipPathOter: '#puzzle-footer-outer-4-sr',
        $clipPathInner: '#puzzle-footer-inner-4-sr',
        $paddingLeft: 18,
        $paddingRight: 18
      );
    }

    &_5 {
      @include puzzle(
        $widthContainer: 290,
        $widthPuzzle: 290,
        $absHeightPuzzle: 66,
        // $heightPuzzle: 66,
        $clipPathOter: '#puzzle-footer-outer-5-sr',
        $clipPathInner: '#puzzle-footer-inner-5-sr',
        $paddingLeft: 18,
        $paddingRight: 18,
        $marginTop: -22,
        $marginBottom: -30
      );
    }

    &_6 {
      @include puzzle(
        $widthContainer: 290,
        $widthPuzzle: 290,
        $absHeightPuzzle: 94,
        // $heightPuzzle: 94,
        $clipPathOter: '#puzzle-footer-outer-6-sr',
        $clipPathInner: '#puzzle-footer-inner-6-sr',
        $paddingTop: 30,
        $paddingLeft: 18,
        $paddingRight: 18,
        $isTransparent: true
      );
    }
  }
  // .contact-puzzle__not-clip
  // используется когда надо анимировать внутри контейнера
  // чтобы контейнер имел прямоугольную форму, а не форму пазла
  &_not-clip {
    clip-path: none;
  }
}
