.button-slider {
  --color-button-slider-icon: var(--siniy);
  --color-button-slider-icon-pressed: var(--sredniy-siniy);
  --color-button-slider-icon-disabled: var(--disabled-1);

  @include lightTheme {
    --color-button-slider-icon-disabled: var(--disabled-light);
  }

  color: var(--color-button-slider-icon);
  // .button-slider__icon
  &__icon {
  }

  &:active {
    color: var(--color-button-slider-icon-pressed);
  }

  &:disabled {
    color: var(--color-button-slider-icon-disabled);
  }

  &_left {
    transform: scaleX(-1);
  }
}
