.scroll-up {
  position: fixed;
  width: 100%;
  bottom: vw(70, 1920);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;

  @include mdQuery(0, $pc) {
    position: sticky;
    bottom: rem(15);

    &:not(:last-child) {
      margin-bottom: rem(15);

      @include mobileSmall {
        margin-bottom: rem(10);
      }
    }
  }

  &__button {
    margin-right: percent(20, 1800);
    pointer-events: auto;
  }
}
