$transition: all 0.6s ease-out 0s;

.puzzle {
  position: relative;
  overflow: hidden;

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: rem(16);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: var(--color-puzzle-inner-bg);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: $transition;
    }
  }

  &__dekor {
    position: absolute;
    color: var(--color-puzzle-dekor);
    opacity: 0;
    transition: $transition;
  }

  &__text {
    position: relative;
    padding: 0 rem(10);
    opacity: 0;
    transition: $transition;
  }

  &__mask {
    position: absolute;
    width: 0;
    height: 0;
  }

  &_3 {
    aspect-ratio: 587 / 580;
    clip-path: url(#puzzle-outer-3);

    @include adaptiveValue('width', 587, 140);
    @include mdQuery(0, 1280) {
      aspect-ratio: 140/142;
    }

    &,
    .dark-mode & {
      background: url('../../../assets/img/puzzles/puzzle_bg_3.jpg') rem(-442)
        rem(-237) no-repeat;

      @include mdQuery(0, 1280) {
        background-size: percent(584, 140) percent(584, 142);
        background-position: percent(-183, 140 - 584) percent(-93, 142 - 584);
      }
    }

    .light-mode & {
      background: linear-gradient(135deg, #4a67cf 0%, #373180 100%);
    }

    .puzzle {
      &__content {
        padding-bottom: percent(130, 587);
        padding-right: percent(140, 587);
        clip-path: url(#puzzle-inner-3);

        &::before {
          top: percent(227, 580);
          left: percent(241, 587);
        }
      }

      &__dekor {
        left: percent(-319, 587);
        top: percent(-394, 580);
        width: percent(854, 587);
        height: percent(854, 580);
      }

      &__text {
      }
    }
  }

  &_opened {
    .puzzle {
      &__content {
        &::before {
          opacity: 1;
          width: percent(835, 587);
        }
      }
      &__dekor {
        opacity: 1;
      }

      &__text {
        opacity: 1;
      }
    }
  }
}
