@use '../../../styles/typography.scss' as *;

@mixin puzzle(
  $width-pazzle,
  $height-pazzle,
  $clip-path-oter,
  $clip-path-inner,
  $bg-gradient,
  $width-pazzle-md,
  $height-pazzle-md,
  $width-pazzle-sm,
  $height-pazzle-sm,
  $bg-src,
  $padding-top,
  $padding-right,
  $padding-bottom,
  $padding-left,
  $circle-pos-x,
  $circle-pos-y,
  $dekor-pos-x: null,
  $dekor-pos-y: null,
  $dekor-width: null,
  $dekor-height: null,
  $num-puzzle-x: null,
  $num-puzzle-y: null
) {
  aspect-ratio: #{$width-pazzle} / #{$height-pazzle};
  clip-path: url($clip-path-oter);

  // @include adaptiveValue('width', $width-pazzle, $width-pazzle-sm);
  @include adaptiveValue(
    'width',
    $width-pazzle,
    $width-pazzle-md,
    $containerWidth,
    $pc,
    1
  );
  @include mdQuery(0, $pc) {
    aspect-ratio: #{$width-pazzle-md}/#{$height-pazzle-md};
  }

  @include mobile-d {
    aspect-ratio: #{$width-pazzle-sm}/#{$height-pazzle-sm};
    @include adaptiveValue(
      'width',
      $width-pazzle-md,
      $width-pazzle-sm,
      $mobile
    );
  }

  @if $num-puzzle-x and $num-puzzle-y {
    &::before {
      left: percent($num-puzzle-x, $width-pazzle);
      top: percent($num-puzzle-y, $height-pazzle);
      width: percent(173, $width-pazzle);
      height: percent(116, $height-pazzle);

      @include mdQuery(0, $pc) {
        width: percent(98, $width-pazzle-md);
        height: percent(70, $height-pazzle-md);
        border-radius: rem(6);
      }

      @include mobileSmall {
        width: percent(79, $width-pazzle-sm);
        height: percent(56, $height-pazzle-sm);
        border-radius: rem(3);
      }
    }
  }

  &,
  .dark-mode & {
    background: $bg-src 0 0 / 100% 100% no-repeat;
  }

  .light-mode & {
    background: $bg-gradient;
  }

  .puzzle {
    &__content {
      padding-top: percent($padding-top, $width-pazzle);
      padding-left: percent($padding-left, $width-pazzle);
      padding-bottom: percent($padding-bottom, $width-pazzle);
      padding-right: percent($padding-right, $width-pazzle);
      clip-path: url($clip-path-inner);

      &::before {
        top: percent($circle-pos-y, $height-pazzle);
        left: percent($circle-pos-x, $width-pazzle);
      }
    }

    @if ($dekor-pos-x and $dekor-pos-y and $dekor-width and $dekor-height) {
      &__dekor {
        left: percent($dekor-pos-x, $width-pazzle);
        top: percent($dekor-pos-y, $height-pazzle);
        width: percent($dekor-width, $width-pazzle);
        height: percent($dekor-height, $height-pazzle);
      }
    }

    &__text {
    }
  }
}

.puzzle {
  --color-puzzle-inner-bg: var(--sero-siniy);
  --color-puzzle-dekor: var(--vspomogatelnyy-1);
  --color-puzzle-number-bg: rgba(73, 0, 224, 0.9);

  @include lightTheme {
    --color-puzzle-inner-bg: var(--sero-goluboy-light);
    --color-puzzle-dekor: var(--vspomogatelnyy-1-light);
    --color-puzzle-number-bg: transparent;
  }

  $transition: all 0.6s ease-out 0s;
  position: relative;
  overflow: hidden;

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: rem(16);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: var(--color-puzzle-inner-bg);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: $transition;
    }
  }

  &__dekor {
    position: absolute;
    color: var(--color-puzzle-dekor);
    opacity: 0;
    transition: $transition;
  }

  &__text {
    position: relative;
    padding: 0 rem(5);
    opacity: 0;
    transition: $transition;
    pointer-events: none;
  }

  &[class*='fact'] {
    cursor: pointer;
    counter-increment: fact 1;

    &::before {
      content: counter(fact);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(10);
      background-color: var(--color-puzzle-number-bg);
      box-shadow: 0 rem(4) rem(35) 0 rgba(31, 2, 150, 0.35);
      color: var(--white);
      transition: $transition;
      pointer-events: none;

      /* Только для Firefox. в фокск не наблюдаются артефакты */
      @-moz-document url-prefix() {
        backdrop-filter: blur(rem(40));
        background-color: var(--bg-pod-tekst);
      }

      @extend .text-fact-number;

      @include mdQuery($pc + 0.02, 0) {
        @include adaptiveValue('font-size', 80, 50, $containerWidth, $pc);
      }

      @include mobile-d {
        @include adaptiveValue('font-size', 50, 40, $mobile);
      }
    }

    &[data-num] {
      &::before {
        content: attr(data-num);
      }
    }

    .puzzle {
      &__text {
        display: flex;
        column-gap: rem(20);
        padding: rem(5) percent(20, 345);

        @include mdQuery(0, $pc) {
          column-gap: rem(15);
        }

        @include mdQuery(0, 700) {
          column-gap: rem(8);
          font-size: rem(12);
          line-height: 1;
        }

        svg {
          align-self: center;
          flex-shrink: 0;
          @include adaptiveValue('width', 18, 12);
        }
      }
    }
  }

  &_3 {
    @include puzzle(
      $width-pazzle: 587,
      $height-pazzle: 580,

      $clip-path-oter: '#puzzle-outer-3',
      $clip-path-inner: '#puzzle-inner-3',

      $bg-gradient: linear-gradient(135deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 387,
      $height-pazzle-md: 382,
      $width-pazzle-sm: 140,
      $height-pazzle-sm: 142,

      $bg-src: url('../../../assets/img/puzzles/puzzle_bg_3.jpg'),
      $padding-top: 0,
      $padding-right: 140,
      $padding-bottom: 130,
      $padding-left: 0,

      $circle-pos-x: 241,
      $circle-pos-y: 227,

      $dekor-pos-x: -319,
      $dekor-pos-y: -394,
      $dekor-width: 854,
      $dekor-height: 854
    );
  }

  &_4 {
    @include puzzle(
      $width-pazzle: 586,
      $height-pazzle: 450,

      $clip-path-oter: '#puzzle-outer-4',
      $clip-path-inner: '#puzzle-inner-4',

      $bg-gradient: linear-gradient(147deg, #4a67cf 0%, #373180 66.93%),
      $width-pazzle-md: 386,
      $height-pazzle-md: 296,
      $width-pazzle-sm: 140,
      $height-pazzle-sm: 114,

      $bg-src: url('../../../assets/img/puzzles/puzzle_bg_4.jpg'),
      $padding-top: 115,
      $padding-right: 120,
      $padding-bottom: 120,
      $padding-left: 140,

      $circle-pos-x: 285,
      $circle-pos-y: 232,

      $dekor-pos-x: -134,
      $dekor-pos-y: -202,
      $dekor-width: 854,
      $dekor-height: 854
    );
  }

  &_5 {
    @include puzzle(
      $width-pazzle: 580,
      $height-pazzle: 727,

      $clip-path-oter: '#puzzle-outer-5',
      $clip-path-inner: '#puzzle-inner-5',

      $bg-gradient: linear-gradient(153deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 387,
      $height-pazzle-md: 485,
      $width-pazzle-sm: 140,
      $height-pazzle-sm: 178,

      $bg-src: url('../../../assets/img/puzzles/puzzle_bg_5.jpg'),
      $padding-top: 140,
      $padding-right: 0,
      $padding-bottom: 140,
      $padding-left: 125,

      $circle-pos-x: 282,
      $circle-pos-y: 371,

      $dekor-pos-x: -176,
      $dekor-pos-y: -35,
      $dekor-width: 854,
      $dekor-height: 854
    );
  }

  &_6 {
    @include puzzle(
      $width-pazzle: 738,
      $height-pazzle: 726,

      $clip-path-oter: '#puzzle-outer-6',
      $clip-path-inner: '#puzzle-inner-6',

      $bg-gradient: linear-gradient(207deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 488,
      $height-pazzle-md: 488,
      $width-pazzle-sm: 172,
      $height-pazzle-sm: 172,

      $bg-src: url('../../../assets/img/puzzles/puzzle_bg_6.jpg'),
      $padding-top: 140,
      $padding-right: 150,
      $padding-bottom: 140,
      $padding-left: 140,

      $circle-pos-x: 338,
      $circle-pos-y: 370,

      $dekor-pos-x: 49,
      $dekor-pos-y: 50,
      $dekor-width: 811,
      $dekor-height: 811
    );
  }

  &_7 {
    @include puzzle(
      $width-pazzle: 721,
      $height-pazzle: 450,

      $clip-path-oter: '#puzzle-outer-7',
      $clip-path-inner: '#puzzle-inner-7',

      $bg-gradient: linear-gradient(225deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 476,
      $height-pazzle-md: 296,
      $width-pazzle-sm: 166,
      $height-pazzle-sm: 114,

      $bg-src: url('../../../assets/img/puzzles/puzzle_bg_7.jpg'),
      $padding-top: 140,
      $padding-right: 140,
      $padding-bottom: 0,
      $padding-left: 0,

      $circle-pos-x: 323,
      $circle-pos-y: 234,

      $dekor-pos-x: -9,
      $dekor-pos-y: -81,
      $dekor-width: 853,
      $dekor-height: 853
    );
  }

  &_fact-1 {
    @include puzzle(
      $width-pazzle: 435,
      $height-pazzle: 272,

      $clip-path-oter: '#puzzle-fact-outer-1',
      $clip-path-inner: '#puzzle-fact-inner-1',

      $bg-gradient: linear-gradient(180deg /* 360 */, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 285,
      $height-pazzle-md: 178,
      $width-pazzle-sm: 190,
      $height-pazzle-sm: 116,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_1.jpg'),
      $padding-top: 0,
      $padding-right: 0,
      $padding-bottom: 85,
      $padding-left: 90,

      $circle-pos-x: 241,
      $circle-pos-y: 96,

      $num-puzzle-x: 166,
      $num-puzzle-y: 40
    );
  }

  &_fact-2 {
    @include puzzle(
      $width-pazzle: 435,
      $height-pazzle: 266,

      $clip-path-oter: '#puzzle-fact-outer-2',
      $clip-path-inner: '#puzzle-fact-inner-2',

      $bg-gradient: linear-gradient(45deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 291,
      $height-pazzle-md: 178,
      $width-pazzle-sm: 189,
      $height-pazzle-sm: 116,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_2.jpg'),
      $padding-top: 0,
      $padding-right: 80,
      $padding-bottom: 85,
      $padding-left: 0,

      $circle-pos-x: 190,
      $circle-pos-y: 117,

      $num-puzzle-x: 93,
      $num-puzzle-y: 37
    );
  }

  &_fact-3 {
    @include puzzle(
      $width-pazzle: 435,
      $height-pazzle: 428,

      $clip-path-oter: '#puzzle-fact-outer-3',
      $clip-path-inner: '#puzzle-fact-inner-3',

      $bg-gradient: linear-gradient(152deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 295,
      $height-pazzle-md: 290,
      $width-pazzle-sm: 191,
      $height-pazzle-sm: 187,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_3.jpg'),
      $padding-top: 80,
      $padding-right: 80,
      $padding-bottom: 80,
      $padding-left: 80,

      $circle-pos-x: 194,
      $circle-pos-y: 208,

      $num-puzzle-x: 127,
      $num-puzzle-y: 156
    );
  }

  &_fact-4 {
    @include puzzle(
      $width-pazzle: 435,
      $height-pazzle: 265,

      $clip-path-oter: '#puzzle-fact-outer-4',
      $clip-path-inner: '#puzzle-fact-inner-4',

      $bg-gradient: linear-gradient(152deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 294,
      $height-pazzle-md: 179,
      $width-pazzle-sm: 190,
      $height-pazzle-sm: 115,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_4.jpg'),
      $padding-top: 85,
      $padding-right: 85,
      $padding-bottom: 0,
      $padding-left: 0,

      $circle-pos-x: 194,
      $circle-pos-y: 130,

      $num-puzzle-x: 89,
      $num-puzzle-y: 112
    );
  }

  &_fact-5 {
    @include puzzle(
      $width-pazzle: 435,
      $height-pazzle: 266,

      $clip-path-oter: '#puzzle-fact-outer-5',
      $clip-path-inner: '#puzzle-fact-inner-5',

      $bg-gradient: linear-gradient(157deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 293,
      $height-pazzle-md: 179,
      $width-pazzle-sm: 194,
      $height-pazzle-sm: 134,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_5.jpg'),
      $padding-top: 70,
      $padding-right: 90,
      $padding-bottom: 70,
      $padding-left: 100,

      $circle-pos-x: 202,
      $circle-pos-y: 126,

      $num-puzzle-x: 139,
      $num-puzzle-y: 75
    );
  }

  &_fact-6 {
    @include puzzle(
      $width-pazzle: 435,
      $height-pazzle: 428,

      $clip-path-oter: '#puzzle-fact-outer-6',
      $clip-path-inner: '#puzzle-fact-inner-6',

      $bg-gradient: linear-gradient(180deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 293,
      $height-pazzle-md: 290,
      $width-pazzle-sm: 188,
      $height-pazzle-sm: 188,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_6.jpg'),
      $padding-top: 80,
      $padding-right: 80,
      $padding-bottom: 80,
      $padding-left: 80,

      $circle-pos-x: 222,
      $circle-pos-y: 206,

      $num-puzzle-x: 133,
      $num-puzzle-y: 156
    );
  }

  &_fact-7 {
    @include puzzle(
      $width-pazzle: 517,
      $height-pazzle: 274,

      $clip-path-oter: '#puzzle-fact-outer-7',
      $clip-path-inner: '#puzzle-fact-inner-7',

      $bg-gradient: linear-gradient(297deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 343,
      $height-pazzle-md: 181,
      $width-pazzle-sm: 224,
      $height-pazzle-sm: 118,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_7.jpg'),
      $padding-top: 0,
      $padding-right: 100,
      $padding-bottom: 60,
      $padding-left: 100,

      $circle-pos-x: 251,
      $circle-pos-y: 123,

      $num-puzzle-x: 172,
      $num-puzzle-y: 56
    );
  }

  &_fact-8 {
    @include puzzle(
      $width-pazzle: 369,
      $height-pazzle: 428,

      $clip-path-oter: '#puzzle-fact-outer-8',
      $clip-path-inner: '#puzzle-fact-inner-8',

      $bg-gradient: linear-gradient(209deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 251,
      $height-pazzle-md: 291,
      $width-pazzle-sm: 164,
      $height-pazzle-sm: 190,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_8.jpg'),
      $padding-top: 80,
      $padding-right: 77,
      $padding-bottom: 85,
      $padding-left: 0,

      $circle-pos-x: 170,
      $circle-pos-y: 212,

      $num-puzzle-x: 62,
      $num-puzzle-y: 156
    );
  }

  &_fact-9 {
    @include puzzle(
      $width-pazzle: 535,
      $height-pazzle: 343,

      $clip-path-oter: '#puzzle-fact-outer-9',
      $clip-path-inner: '#puzzle-fact-inner-9',

      $bg-gradient: linear-gradient(45deg, #4a67cf 0%, #373180 100%),
      $width-pazzle-md: 351,
      $height-pazzle-md: 225,
      $width-pazzle-sm: 230,
      $height-pazzle-sm: 148,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_9.jpg'),
      $padding-top: 60,
      $padding-right: 95,
      $padding-bottom: 65,
      $padding-left: 100,

      $circle-pos-x: 260,
      $circle-pos-y: 153,

      $num-puzzle-x: 181,
      $num-puzzle-y: 111
    );
  }

  &_fact-10 {
    @include puzzle(
      $width-pazzle: 396,
      $height-pazzle: 342,

      $clip-path-oter: '#puzzle-fact-outer-10',
      $clip-path-inner: '#puzzle-fact-inner-10',

      $bg-gradient: linear-gradient(45deg, #373180 0%, #4a67cf 100%),
      $width-pazzle-md: 265,
      $height-pazzle-md: 229,
      $width-pazzle-sm: 170,
      $height-pazzle-sm: 148,

      $bg-src: url('../../../assets/img/puzzles/puzzle_fact_bg_10.jpg'),
      $padding-top: 0,
      $padding-right: 0,
      $padding-bottom: 75,
      $padding-left: 95,

      $circle-pos-x: 197,
      $circle-pos-y: 131,

      $num-puzzle-x: 155,
      $num-puzzle-y: 72
    );
  }

  &_opened {
    .puzzle {
      &__content {
        &::before {
          opacity: 1;
          width: percent(835, 587);
        }
      }
      &__dekor {
        opacity: 1;
      }

      &__text {
        opacity: 1;
      }
    }

    &[class*='fact'] {
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
