@use 'sass:math';

.container {
  padding: 0 rem(math.div($containerPadding, 2));

  @include mdQuery(0, $pc) {
    padding: 0 rem(40);
  }

  @include mobile {
    padding: 0 rem(20);
  }

  @include mobileSmall {
    padding: 0 rem(15);
  }
}
