// кастомные свойства
:root {
  // палитра цветов
  --white: #fff;
  --color-bg-dark: #131921;
  --color-bg-light: #e6eaf2;
  --blue: #1e3070;
  --sero-siniy: #2b343f;
  --siniy: #4900e0;
  --sredniy-siniy: #2a008a;
  --disabled-1: #26313f;
  --disabled-light: #b1bad0;
  --disabled-2: #5c6979;
  --gray-deep-space: rgba(17, 21, 26, 0.4);
  --color-fade-blue: rgba(103, 121, 153, 0.36);
  --sero-goluboy-light: #c2d0e9;
  --sredniy-siniy: #2a008a;
  --bg-pod-tekst: rgba(255, 255, 255, 0.06);
  --zagolovki-h2: #748398;
  --sero-siniy: #252d38;
  --vspomogatelnyy-1: #353f4e;
  --bg-proekta: rgba(37, 45, 56, 0.6);
  --blur-7: #171c4d;
  --blur-4-5-6: #16263a;
  --blur-1-2-3-8: #1a2b42;
  --bg-header: rgba(255, 255, 255, 0.04);
  --zagolovki-h2-light: #6984b5;
  --vspomogatelnyy-light: #8ba2d0;
  --vspomogatelnyy-1-light: #a9bbdb;
  --bg-proekta-light: rgba(121, 143, 189, 0.3);
  --blur-light-1-2-3: #d4dff6;
  --blur-light-4-5-6: #b7cbf3;
  --blur-light-7: #bccff8;
  --blur-light-8: #d4e0f9;
  --bg-header-light: rgba(220, 227, 241, 0.5);
  --kod-fon: #5766c7;
  --cvet-poverh-kartinki-na-glavnom-ekrane-v-temnoy-teme: rgba(
    43,
    40,
    141,
    0.2
  );

  // цвета компонентов
  --color-button-bg: var(--siniy);
  --color-button-text: var(--white);
  --color-button-dot: var(--white);
  --color-button-secondary-bg: transparent;
  --color-button-secondary-border: var(--siniy);
  --color-button-secondary-text: var(--siniy);
  --color-button-secondary-dot: var(--siniy);
  --color-button-secondary-text-hover: var(--white);

  --color-scrollup-bracket: var(--siniy);
  --color-scrollup-hover-bg: var(--siniy);

  --color-button-slider-icon: var(--siniy);
  --color-button-slider-icon-pressed: var(--sredniy-siniy);

  --color-toggler-theme-icon-hover: var(--siniy);

  &,
  &.dark-mode {
    --body-bg: url('../assets/img/bg/bg-noise-dark-theme.png');

    --color-main-text: var(--white);
    --color-main-bg: var(--color-bg-dark);

    --color-menu-item: var(--white);
    --color-menu-item-bg-hover-pressed: var(--sero-siniy);

    --color-button-bg-disabled: var(--disabled-1);
    --color-button-text-disabled: var(--disabled-2);
    --color-button-secondary-border-dot-text-disabled: var(--disabled-1);

    --color-scrollup-bg: var(--sero-siniy);
    --color-scrollup-box-shadow: var(--gray-deep-space);

    --color-button-slider-icon-disabled: var(--disabled-1);

    --color-toggler-theme-icon: var(--white);

    --color-puzzle-inner-bg: var(--sero-siniy);
    --color-puzzle-dekor: var(--vspomogatelnyy-1);
    --color-puzzle-number-bg: rgba(73, 0, 224, 0.9);

    --color-project-link-text: var(--white);
    --color-project-link-border: var(--sero-siniy);
    --color-project-bg-popup: var(--bg-proekta);

    --color-project-list-hover-text: var(--sero-siniy);

    --color-contact-puzzle-border: var(--vspomogatelnyy-1);
    --color-contact-puzzle-bg: var(--sero-siniy);
    --color-contact-puzzle-hover-bg: var(--vspomogatelnyy-1);
    --color-contact-puzzle-design: var(--vspomogatelnyy-1);
    --color-contact-puzzle-design-hover: var(--white);

    --color-main-menu-mobile-bg: var(--sero-siniy);
    --box-shadow-main-menu-mobile: 0 rem(14) rem(20) 0 rgba(17, 21, 26, 0.4);
    --color-main-menu-mobile-dekor: var(--vspomogatelnyy-1);
    --color-header-bg: var(--bg-header);

    --color-dawn: var(--vspomogatelnyy-1);

    --color-greeting-code: var(--sero-siniy);
  }

  &.light-mode {
    --body-bg: url('../assets/img/bg/bg-noise-light-theme.png');

    --color-main-text: var(--blue);
    --color-main-bg: var(--color-bg-light);

    --color-menu-item: var(--blue);
    --color-menu-item-bg-hover-pressed: var(--vspomogatelnyy-light);

    --color-button-bg-disabled: var(--disabled-light);
    --color-button-text-disabled: var(--color-bg-light);
    --color-button-secondary-border-dot-text-disabled: var(--disabled-light);

    --color-scrollup-bg: var(--vspomogatelnyy-light);
    --color-scrollup-box-shadow: var(--color-fade-blue);

    --color-button-slider-icon-disabled: var(--disabled-light);

    --color-toggler-theme-icon: var(--blue);

    --color-puzzle-inner-bg: var(--sero-goluboy-light);
    --color-puzzle-dekor: var(--vspomogatelnyy-1-light);
    --color-puzzle-number-bg: transparent;

    --color-project-link-text: var(--blue);
    --color-project-link-border: var(--vspomogatelnyy-1-light);
    --color-project-bg-popup: var(--bg-proekta-light);

    --color-project-list-hover-text: var(--vspomogatelnyy-1-light);

    --color-contact-puzzle-border: var(--sero-goluboy-light);
    --color-contact-puzzle-bg: var(--vspomogatelnyy-1-light);
    --color-contact-puzzle-hover-bg: var(--sero-goluboy-light);
    --color-contact-puzzle-design: var(--vspomogatelnyy-1-light);
    --color-contact-puzzle-design-hover: var(--vspomogatelnyy-light);

    --color-main-menu-mobile-bg: var(--sero-goluboy-light);
    --box-shadow-main-menu-mobile: 0 rem(4) rem(10) 0 rgba(103, 121, 153, 0.36);
    --color-main-menu-mobile-dekor: var(--vspomogatelnyy-1-light);
    --color-header-bg: var(--bg-header-light);

    --color-dawn: var(--vspomogatelnyy-1-light);

    --color-greeting-code: var(--vspomogatelnyy-light);
  }
}
