// кастомные свойства
:root {
  --color-white: #fff;
  --color-bg-dark: #131921;
  --color-bg-light: #e6eaf2;
  --color-blue: #1e3070;
  --color-blue-soft-grey: #8ba2d0;
  --color-blue-dark-slate: #2b343f;
  --siniy: #4900e0;
  --sredniy-siniy: #2a008a;

  &,
  &.dark-mode {
    --color: var(--color-white);
    --color-bg: var(--color-bg-dark);

    --color-menu-item: var(--color-white);
    --color-menu-item-bg-hover-pressed: var(--color-blue-dark-slate);
  }

  &.light-mode {
    --color: var(--color-blue);
    --color-bg: var(--color-bg-light);

    --color-menu-item: var(--color-blue);
    --color-menu-item-bg-hover-pressed: var(--color-blue-soft-grey);
  }
}

/* 
:root {
	  --bg: #131921; --color-bg-dark
	  --white: #fff; --color-white
	--siniy: #4900e0;
	--sredniy-siniy: #2a008a;
		--vspomogatelnyy-2: #2b343f; --color-blue-dark-slate
	--disabled-1: #26313f;
	--disabled-2: #5c6979;
	--bg-pod-tekst: rgba(255, 255, 255, 0.06);
	--zagolovki-h2: #748398;
	--sero-siniy: #252d38;
	--vspomogatelnyy-1: #353f4e;
	--bg-proekta: rgba(37, 45, 56, 0.6);
	--blur-7: #171c4d;
	--blur-4,5,6: #16263a;
	--blur-1,2,3,8: #1a2b42;
	--bg-header: rgba(255, 255, 255, 0.04);
	  --bg-light: #e6eaf2; --color-bg-light
		--teksty,-ikonki-light: #1e3070; --color-blue
		--vspomogatelnyy-light: #8ba2d0; --color-blue-soft-grey
	--zagolovki-h2-light: #6984b5;
	--vspomogatelnyy-1-light: #a9bbdb;
	--bg-proekta-light: rgba(121, 143, 189, 0.3);
	--sero-goluboy-light: #c2d0e9;
	--blur-light-1,2,3: #d4dff6;
	--blur-light-4,5,6: #b7cbf3;
	--blur-light-7: #bccff8;
	--blur-light-8: #d4e0f9;
	--bg-header-light: rgba(220, 227, 241, 0.5);
	--kod-fon: #5766c7;
	--disabled-light: #b1bad0;
	--cvet-poverh-kartinki-na-glavnom-ekrane-v-temnoy-teme: rgba(43, 40, 141, 0.2);
}
 */
