// * Подключение глобальных кастомных свойств (для этого проекта)
@use './custom-properties';

//* Подключение шрифтов проекта (для этого проекта)
// Подключить если есть локальные файлы шрифтов
@use './fonts';

//* Обнуление и общие параметры (переиспользуемые стили)
@use './common/reset';

//* Подключение базовых стилей (переиспользуемые стили)
@use './common/common-styles';

//* Подключение общих стилей шрифтов
@use './typography';

//* Подключение глобальных анимаций
@use './global-animations';

body {
  background-image: var(--body-bg);
}

.decor-blured {
  &::before,
  &::after {
    content: '';
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    filter: blur(rem(300));
    background-color: var(--color-blur-decor-1-2-3);
    z-index: -1;
  }

  &_1 {
    &::before {
      filter: blur(rem(250));
      @include adaptiveValue('width', 612, 200);
    }

    &::after {
      @include adaptiveValue('width', 850, 306);
    }
  }
  &_2 {
    &::before {
      @include adaptiveValue('width', 473, 323);
    }
    &::after {
      background-color: var(--color-blur-decor-4-5-6);
      @include adaptiveValue('width', 807, 353);
    }
  }
  &_3 {
    &::before {
      background-color: var(--color-blur-decor-4-5-6);
      @include adaptiveValue('width', 807, 431);
    }
    &::after {
      background-color: var(--color-blur-decor-4-5-6);
      @include adaptiveValue('width', 807, 267);
    }
    &_4 {
      &::before {
        background-color: var(--color-blur-decor-7);
        @include adaptiveValue('width', 675, 340);
      }
      &::after {
        background-color: var(--color-blur-decor-8);
        @include adaptiveValue('width', 541, 312);
      }
    }
  }
}
