.project-list {
  --color-project-list-hover-text: var(--sero-siniy);
  @include lightTheme {
    --color-project-list-hover-text: var(--vspomogatelnyy-1-light);
  }
  list-style-type: none;
  counter-reset: project 0;

  @media (pointer: fine) {
    &:hover > li {
      color: var(--color-project-list-hover-text);
    }
  }
}
