@use 'sass:math';

.greeting {
  min-height: 100vh;
  padding-top: rem(100.4);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mdQuery(0, $pc) {
    padding-top: rem(80.39);
  }

  @include mobileSmall {
    padding-top: rem(69.8);
  }

  $aspect-ratio: '16/7.3';
  $aspect-ratio-1280: '16/8.8';
  $aspect-ratio-768: '16/9';

  @media (orientation: portrait) or (min-aspect-ratio: $aspect-ratio),
    (max-width: em($pc)) and (min-aspect-ratio: $aspect-ratio-1280),
    (max-width: em($mobile)) and (min-aspect-ratio: $aspect-ratio-768) {
    min-height: auto;
    padding-top: rem(100.4 + 70);

    @include mdQuery(0, $pc) {
      padding-top: rem(80.39 + 70);
    }

    @include mobileSmall {
      padding-top: rem(69.8 + 50);
    }
  }
  // .greeting__wrapper
  &__wrapper {
    position: relative;
    flex: 0 0 vh(860, 1080);

    @media (orientation: portrait) or (min-aspect-ratio: $aspect-ratio),
      (max-width: em($pc)) and (min-aspect-ratio: $aspect-ratio-1280),
      (max-width: em($mobile)) and (min-aspect-ratio: $aspect-ratio-768) {
      flex: 1 0 auto;
      aspect-ratio: 1800 / 861;

      @include mobile-d {
        aspect-ratio: 290 / 164;
      }
    }
  }
  // .greeting__puzzle
  &__puzzle {
    $puzzle-width: 1800;
    $puzzle-height: 860;
    $bg-width: 2383;
    $bg-height: 2384;
    $bg-pos-x: -292;
    $bg-pos-y: -861;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/puzzles/puzzle_bg_3.jpg);
    background-repeat: no-repeat;
    background-size: percent($bg-width, $puzzle-width)
      percent($bg-height, $puzzle-height);
    background-position: percent($bg-pos-x, $puzzle-width - $bg-width)
      percent($bg-pos-y, $puzzle-height - $bg-height);
    clip-path: url(#puzzle-main-screen);
    z-index: -1;
  }
  // .greeting__mask
  &__mask {
    position: absolute;
    width: 0;
    height: 0;
  }

  &__heading {
    position: absolute;
    padding-inline: percent(50, 1800);
    padding-block: vh(35, 1080); // по макету 50
    left: percent(53, 1800);
    top: percent(218, 860);
    clip-path: url(#puzzle-main-screen-text-bg);
    background-color: var(--bg-pod-tekst);
    backdrop-filter: blur(rem(40));
    box-shadow: 0 rem(4) rem(35) 0 rgba(31, 2, 150, 0.35);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* Только для Firefox. в фокск не обрезается фигура должным образом */
    @-moz-document url-prefix() {
      box-shadow: none;
    }

    @include adaptiveValue('width', 1306, 956, $containerWidth, $pc, 1);

    @include mdQuery(0, $pc) {
      padding-inline: percent(35, 1200);
      padding-block: vh(25, 720);
      @include adaptiveValue('width', 956, 614, $pc, $mobile, 1);
      @media (orientation: portrait) {
        padding-block: percent(25, 720);
      }
    }

    @include mobile-d {
      @include adaptiveValue('width', 614, 268, $mobile);
    }

    span {
      &:last-child {
        margin-top: em(25, 80);
        flex-grow: 1;
        align-self: flex-end;
      }
    }
    @media (orientation: portrait) or (min-aspect-ratio: $aspect-ratio),
      (max-width: em($pc)) and (min-aspect-ratio: $aspect-ratio-1280),
      (max-width: em($mobile)) and (min-aspect-ratio: $aspect-ratio-768) {
      padding: percent(10, 728) percent(20, 728);

      @include mobileSmall {
        padding: percent(4, 290);
      }
    }
  }
}
