@use 'sass:math';
@use 'sass:list';

$aspect-ratio: '16/7.3';
$aspect-ratio-1280: '16/8.8';
$aspect-ratio-768: '16/9';

@mixin conditionPortrait {
  @media (orientation: portrait) or (min-aspect-ratio: $aspect-ratio),
    (max-width: em($pc)) and (min-aspect-ratio: $aspect-ratio-1280),
    (max-width: em($mobile)) {
    @content;
  }
}

.greeting {
  $animStep-1: 1s ease-in-out backwards;
  $animStep-2: 0.6s ease-out 1s backwards;
  $animStep-3: 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) 1.6s backwards;
  $animStep-4: 28s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite #{1.6 + 1.2}s;

  position: relative;
  min-height: 100vh;
  padding-top: rem(100.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(20);

  @include mdQuery(0, $pc) {
    padding-top: rem(80.39);
  }

  @include mobileSmall {
    padding-top: rem(69.8);
  }

  @include conditionPortrait {
    min-height: auto;
    padding-top: rem(100.4 + 70);

    @include mdQuery(0, $pc) {
      padding-top: rem(80.39 + 70);
    }

    @include mobileSmall {
      padding-top: rem(69.8 + 50);
    }
  }
  // .greeting__wrapper
  &__wrapper {
    position: relative;
    flex: 0 0 vh(860, 1080);

    @include conditionPortrait {
      flex: 1 0 auto;
      aspect-ratio: 1800 / 861;

      @include mobile-d {
        aspect-ratio: 290 / 164;
      }
    }
  }
  // .greeting__puzzle
  &__puzzle {
    $puzzle-width: 1800;
    $puzzle-height: 860;
    $bg-width: 2383;
    $bg-height: 2384;
    $bg-pos-x: -292;
    $bg-pos-y: -861;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/puzzles/puzzle_bg_3.jpg);
    background-repeat: no-repeat;
    background-size: percent($bg-width, $puzzle-width)
      percent($bg-height, $puzzle-height);
    background-position: percent($bg-pos-x, $puzzle-width - $bg-width)
      percent($bg-pos-y, $puzzle-height - $bg-height);
    clip-path: url(#puzzle-main-screen);
    z-index: -1;
    animation: puzzleMainScreen $animStep-1;

    @keyframes puzzleMainScreen {
      0% {
        opacity: 0;
        transform: scale(0.12) rotate(-45deg);
      }
      100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }
    }
  }
  // .greeting__mask
  &__mask {
    position: absolute;
    width: 0;
    height: 0;
  }
  // .greeting__heading
  &__heading {
    position: absolute;
    padding-inline: percent(50, 1800);
    padding-block: vh(35, 1080); // по макету 50
    left: percent(53, 1800);
    top: percent(218, 860);
    clip-path: url(#puzzle-main-screen-text-bg);
    background-color: var(--bg-pod-tekst);
    backdrop-filter: blur(rem(40));
    box-shadow: 0 rem(4) rem(35) 0 rgba(31, 2, 150, 0.35);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeIn $animStep-2;

    /* Только для Firefox. в фокск не обрезается фигура должным образом */
    @-moz-document url-prefix() {
      box-shadow: none;
    }

    @include adaptiveValue('width', 1306, 956, $containerWidth, $pc, 1);

    @include mdQuery(0, $pc) {
      padding-inline: percent(35, 1200);
      padding-block: vh(25, 720);
      @include adaptiveValue('width', 956, 614, $pc, $mobile, 1);
      @media (orientation: portrait) {
        padding-block: percent(25, 720);
      }
    }

    @include mobile-d {
      @include adaptiveValue('width', 614, 268, $mobile);
    }

    span {
      &:first-child {
        animation: headingString1 $animStep-2;
        @keyframes headingString1 {
          0% {
            transform: translateX(percent(-160, 1066));
          }
          100% {
            transform: translateX(0);
          }
        }
      }
      &:nth-child(2) {
        animation: headingString2 $animStep-2;
        @keyframes headingString2 {
          0% {
            transform: translateX(percent(-280, 918));
          }
          100% {
            transform: translateX(0);
          }
        }
      }
      &:last-child {
        margin-top: em(25, 80);
        flex-grow: 1;
        align-self: flex-end;
        animation: headingString3 $animStep-2;

        @keyframes headingString3 {
          0% {
            transform: translateX(percent(-410, 861));
          }
          100% {
            transform: translateX(0);
          }
        }
      }
    }
    @include conditionPortrait {
      padding: percent(10, 728) percent(20, 728);

      @include mobileSmall {
        padding: percent(4, 290);
      }
    }
  }
  // .greeting__text
  &__text {
    position: absolute;
    left: percent(455, 1800);
    top: percent(-35, 860);
    transform-origin: left bottom;
    animation: greetingText $animStep-1;

    @keyframes greetingText {
      0% {
        transform: rotate(-90deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
  // .greeting__button
  &__button {
    position: absolute;
    right: percent(1144, 1800);
    top: percent(735, 860);
    animation: fadeIn $animStep-2;

    @include conditionPortrait {
      position: static;
      align-self: center;
    }
  }
  &__ball {
    position: absolute;

    &::before {
      content: '';
      display: block;
      height: 100%;
      border-radius: 100%;
      mix-blend-mode: multiply; // color, darken, multiply по макету color-burn

      box-shadow:
          // эту строку убрать - исчезает проблема
        rem(35) rem(25) rem(50) 0 rgba(0, 0, 0, 0.5),
        inset rem(35) rem(25) rem(55) 0 rgba(0, 0, 0, 0.5),
        inset rem(-35) rem(-25) rem(55) 0 rgba(255, 255, 255, 0.5);
      opacity: 0.8;
    }

    &::after {
      content: '';
      position: absolute;
      border-radius: 100%;
      transform: rotate(-45deg);
      background-color: var(--white);
      filter: blur(rem(30)); // по макету 80
      opacity: 0.8;
    }

    @mixin ball(
      $widthParent: 1800,
      $heightParent: 860,
      $size: null,
      // на данный момнет не нужны эти параметры, но пока оставлю в комментах
      //$left: null,
      // $top: null,
      $background: null,
      $widthGlare: null,
      $heightGlare: null,
      $leftGlare: null,
      $topGlare: null,
      $animationName,
      $keyframesIntro: null,
      $keyframesBase
    ) {
      @if $size != null {
        width: percent($size, $widthParent);
        aspect-ratio: 1;
      }

      // @if $left != null {
      //   left: percent($left, $widthParent);
      // }
      // @if $top != null {
      //   top: percent($top, $heightParent);
      // }

      animation:
        #{$animationName}-base $animStep-4,
        #{$animationName}-intro $animStep-3;

      @keyframes #{$animationName}-intro {
        @each $progress, $position in $keyframesIntro {
          #{$progress} {
            left: percent(list.nth($position, 1), $widthParent);
            top: percent(list.nth($position, 2), $heightParent);
          }
        }
      }

      @keyframes #{$animationName}-base {
        @each $progress, $position in $keyframesBase {
          #{$progress} {
            left: percent(list.nth($position, 1), $widthParent);
            top: percent(list.nth($position, 2), $heightParent);
          }
        }
      }

      @if $background != null {
        &::before {
          background: $background;
        }
      }

      @if $widthGlare !=
        null and
        $heightGlare !=
        null and
        $leftGlare !=
        null and
        $topGlare !=
        null
      {
        &::after {
          width: rem($widthGlare);
          height: rem($heightGlare);
          left: percent($leftGlare, $size);
          top: percent($topGlare, $size);
        }
      }
    }

    &_1 {
      @include ball(
        $size: 313,
        $background: linear-gradient(148deg, #8796d2 0%, rgba(0, 0, 0, 0) 100%),
        $widthGlare: 139,
        $heightGlare: 41,
        $leftGlare: 23,
        $topGlare: 70,
        $animationName: ball-1,
        $keyframesIntro: (
          0%: 1661 -337,
          100%: 1372 -58,
        ),
        $keyframesBase: (
          0%: 1372 -58,
          29%: 277 591,
          54%: 175 46,
          79%: 1264 469,
          100%: 1372 -58,
        )
      );
    }

    &_2 {
      @include ball(
        $size: 275,
        $background: linear-gradient(133deg, #d9d9d9 0%, rgba(0, 0, 0, 0) 100%),
        $widthGlare: 122,
        $heightGlare: 36,
        $leftGlare: 20,
        $topGlare: 61,
        $animationName: ball-2,
        $keyframesIntro: (
          0%: 1010 860+60,
          100%: 1010 540,
        ),
        $keyframesBase: (
          0%: 1010 540,
          29%: 1598 213,
          54%: 262 502,
          79%: 548 749,
          100%: 1010 540,
        )
      );
    }

    &_3 {
      @include ball(
        $size: 363,
        $background: linear-gradient(133deg, #d9d9d9 0%, rgba(0, 0, 0, 0) 100%),
        $widthGlare: 162,
        $heightGlare: 48,
        $leftGlare: 27,
        $topGlare: 80,
        $animationName: ball-3,
        $keyframesIntro: (
          0%: -192 710,
          100%: 140 431,
        ),
        $keyframesBase: (
          0%: 140 431,
          29%: 464 -387,
          54%: 1304 -387,
          79%: 1224 -44,
          100%: 140 431,
        )
      );
    }
  }
}
