@use '../../../styles/typography.scss' as *;

.project-link {
  --project-link-color-hover-summary: var(--white);
  --project-link-color-disabled-summary: var(--disabled-1);
  @include lightTheme {
    --project-link-color-hover-summary: var(--blue);
    --project-link-color-disabled-summary: var(--disabled-light);
  }
  $transition: 0.6s ease-out;

  padding: var(--padding-block) 0;
  display: grid;
  grid-template:
    'n l i'
    'n s .'
    'n d .' / auto
    var(--project-link-max-width-name)
    1fr;
  column-gap: rem(20);
  color: var(--color-project-link-text);
  border-bottom: rem(1) solid var(--color-project-link-border);
  counter-increment: project 1;

  @include adaptiveValue(
    '--project-link-max-width-name',
    883,
    575,
    $containerWidth,
    $pc,
    1
  );

  @include mobile-d {
    grid-template-columns: auto 1fr auto;
  }

  &::before {
    @extend .text-menu-item;

    grid-area: n;
    content: counter(project, decimal-leading-zero);
    transition:
      color $transition,
      transform $transition;
  }

  @include mobile-d {
    column-gap: rem(10);
  }

  @include adaptiveValue('--padding-block', 40, 30, $containerWidth, $pc, 1);

  @include mobile-d {
    @include adaptiveValue('--padding-block', 30, 15, $mobile);
  }

  @media (pointer: fine) {
    &:hover {
      & > *:not(.project-link__icon),
      &::before {
        transform: translateX(rem(20));
      }
      .project-link {
        &__icon {
          svg {
            transform: rotate(-45deg);
          }
        }
        // влияние на попап
        &__popup-wrapper {
          opacity: 1;
          visibility: visible;
        }

        &__img {
          transform: scale(1);
        }
      }
    }
  }

  &:has(&__link:active) {
    & > *:not(.project-link__icon),
    &::before {
      transform: translateX(rem(20));
    }
    .project-link {
      &__icon {
        svg {
          transform: rotate(-45deg);
        }
      }
    }
  }

  // .project-link__link
  &__link {
    grid-area: l;
    transition:
      color $transition,
      transform $transition;
  }

  // .project-link__wrap-text
  &__wrap-text {
    @extend .text-portfolio;
    min-height: em(126, 70);
    display: flex;
    align-items: flex-end;

    @include adaptiveValue('font-size', 70, 40, $containerWidth, $pc, 1);
    @include mobile-d {
      @include adaptiveValue('font-size', 40, 20, $mobile);
    }
  }
  // .project-link__text
  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  // .project-link__icon
  &__icon {
    margin-left: rem(20);
    position: relative;
    grid-area: i;
    align-self: center;
    text-align: right;

    svg {
      transition: transform $transition;
    }
  }
  // .project-link__popup-wrapper
  &__popup-wrapper {
    position: absolute;
    aspect-ratio: 570 / 449;
    right: percent(82, 827);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity $transition,
      visibility $transition;

    @include adaptiveValue('width', 570, 410, $containerWidth, $pc);

    @include mdQuery(0, $pc) {
      @include adaptiveValue('width', 410, 300, $pc, $mobile, 1);
    }
  }
  // .project-link__popup
  &__popup {
    height: 100%;
    padding: percent(60, 570) percent(70, 570);
    display: flex;
    flex-direction: column;
    background-color: var(--color-project-bg-popup);
  }
  // .project-link__picture
  &__picture {
    flex-grow: 1;
  }
  // .project-link__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0465);
    transition: transform $transition;
  }
  // .project-link__title
  &__title {
    text-align: center;
    &:not(:first-child) {
      margin-top: percent(30, 430);
    }
  }
  // .project-link__stack
  &__stack {
    grid-area: s;
    display: flex;
    align-items: flex-end;
    gap: rem(4) rem(20);
    transition: transform $transition;

    &:not(:first-child) {
      @include adaptiveValue('margin-top', 40, 15);
    }

    @include mobile-d {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  // .project-link__stack-title
  &__stack-title {
  }
  // .project-link__stack-list
  &__stack-list {
    @extend .text-competencies-liquid;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    transition: color $transition;
  }
  // .project-link__description
  &__description {
    grid-area: d;
    transition: transform $transition;
    &:not(:first-child) {
      @include adaptiveValue('margin-top', 20, 8);
    }
    &[open] {
      summary svg {
        transform: scaleY(-1);
      }
    }
    &[data-disabled] {
      summary {
        color: var(--project-link-color-disabled-summary);
      }
    }
  }
  // .project-link__description-title
  &__description-title {
    display: flex;
    align-items: flex-end;
    column-gap: rem(20);
    list-style: none;
    cursor: pointer;
    @media (pointer: fine) {
      &:hover {
        color: var(--project-link-color-hover-summary);
      }
    }
  }
  // .project-link__description-text
  &__description-text {
    @extend .text-typing;
    padding-top: rem(10);
    transition: color $transition;
  }
  &__label {
    @extend .text-typing;
    color: var(--color-project-link-label);
    transition: color $transition;
  }
}
