.about-me {
  position: relative;
  --color-about-me-bg: var(--sero-siniy);
  @include lightTheme {
    --color-about-me-bg: var(--sero-goluboy-light);
  }
  // .about-me__wrapper
  &__wrapper {
    padding: rem(50) rem(100);
    clip-path: url(#puzzle-second-screen);
    background-color: var(--color-about-me-bg);
    aspect-ratio: 1800/1060;

    @include mdQuery(0, $pc) {
      @include adaptiveValue('padding-inline', 100, 60, $pc, $tablet, 1);
      @include adaptiveValue('padding-block', 50, 30, $pc, $tablet, 1);
    }

    @include mobile-d {
      padding-bottom: rem(50);
      @include adaptiveValue('padding-inline', 60, 15, $mobile, $minWidth);
      @include adaptiveValue('padding-top', 30, 15, $mobile, $minWidth);
    }
  }
  &__box {
    margin: 0 auto;
    @include adaptiveValue('width', 890, 700, $containerWidth, $pc);

    @include mdQuery(0, $pc) {
      // width: rem(590);
      @include adaptiveValue('width', 590, 530, $pc, $tablet);
    }
  }
  // .about-me__heading
  &__heading {
    position: absolute;

    @include tablet-d {
      position: static;
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }
  &__content {
    display: grid;
    grid-template:
      'i1 . .'
      'i2 i3 i4' 1fr / 1fr 1fr 1fr;
    gap: rem(20);

    @include mdQuery(0, $pc) {
      grid-template:
        'i1 . '
        'i2 i3' / 1fr 1fr;
    }

    @include tablet-d {
      grid-template:
        'i1' auto
        'i2' auto
        'i3';
      justify-items: center;

      row-gap: rem(30);
    }
  }

  &__item-text {
    // в Хроме без этой настройки обрезается контент
    overflow-y: auto;
    scrollbar-width: thin;

    &:nth-child(1) {
      grid-area: i1;
      aspect-ratio: 283/310;

      @include mdQuery(0, $pc) {
        aspect-ratio: 285/383;
      }

      @include tablet-d {
        width: percent(294, 591);
        aspect-ratio: auto;
        justify-self: start;
      }

      p {
        &:not(:last-child) {
          margin-bottom: percent(60, 285);
        }
      }
    }
    &:nth-child(2) {
      grid-area: i2;

      @include tablet-d {
        width: percent(370, 591);
      }
    }
    &:nth-child(3) {
      grid-area: i3;

      @include tablet-d {
        width: percent(264, 591);
        justify-self: end;
      }
    }
    &:nth-child(4) {
      grid-area: i4;
    }

    p {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }
  &__box-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);

    @include mdQuery(0, $pc) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-d {
      grid-template-columns: percent(264, 591);
      justify-content: end;
      gap: 0;
    }

    @include mobile-d {
      grid-template-columns: none;
      justify-content: center;
    }
  }

  &__button {
    margin-top: rem(40);
    min-width: max-content;
    grid-column: 3/4;

    @include mdQuery(0, $pc) {
      grid-column: 2/3;
      margin-top: rem(35);
    }

    @include tablet-d {
      grid-column: 1/2;
      width: percent(260, 591);
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
  }
  // .about-me__slide
  &__slide {
    position: absolute;
    top: 0;
    left: 101%;
    width: 100%;
    transition: all 0.4s ease-out;
    // .about-me__slide_active
    &_active {
      position: relative;
      left: 0;
    }
    // .about-me__slide_prev
    &_prev {
      left: 0;
      opacity: 0;
    }
  }
}
