@use '../../styles/typography.scss' as *;

.about-me {
  position: relative;
  --color-about-me-bg: var(--sero-siniy);
  --color-about-me-code: var(--vspomogatelnyy-1);

  &::before {
    @include adaptiveValue('left', 1623, 110);
    @include adaptiveValue('top', -200, -48);
  }
  &::after {
    @include adaptiveValue('left', 194, -115);
    @include adaptiveValue('top', 126, 400);
  }

  @include lightTheme {
    --color-about-me-bg: var(--sero-goluboy-light);
    --color-about-me-code: var(--vspomogatelnyy-1-light);
  }
  // .about-me__wrapper
  &__wrapper {
    position: relative;
    padding: rem(50) rem(100);
    clip-path: url(#puzzle-second-screen);
    background-color: var(--color-about-me-bg);
    aspect-ratio: 1800/1060;

    @include mdQuery(0, $pc) {
      @include adaptiveValue('padding-inline', 100, 60, $pc, $tablet, 1);
      @include adaptiveValue('padding-block', 50, 30, $pc, $tablet, 1);
    }

    @include mobile-d {
      @include adaptiveValue('padding-bottom', 90, 120, $mobile, $mobileSmall);
      @include adaptiveValue('padding-inline', 60, 15, $mobile, $minWidth);
      @include adaptiveValue('padding-top', 30, 15, $mobile, $minWidth);
    }

    @include mobileSmall {
      padding-bottom: rem(50);
    }
  }
  &__box {
    margin: 0 auto;
    @include adaptiveValue('width', 890, 700, $containerWidth, $pc);

    @include mdQuery(0, $pc) {
      // width: rem(590);
      @include adaptiveValue('width', 590, 530, $pc, $tablet);
    }
  }
  // .about-me__heading
  &__heading {
    position: absolute;

    @include tablet-d {
      position: static;
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }

    @include mobile-d {
      &:not(:last-child) {
        margin-bottom: percent(30, 260);
      }
    }
  }
  &__content {
    @extend .text-typing;
    display: grid;
    grid-template:
      'i1 . .' minmax(#{rem(268)}, auto)
      'i2 i3 i4' / 1fr 1fr 1fr;
    gap: rem(20);

    @include mdQuery(0, $pc) {
      grid-template:
        'i1 . ' minmax(#{rem(200)}, auto)
        'i2 i3' / 1fr 1fr;
    }

    @include tablet-d {
      grid-template:
        'i1' auto
        'i2' auto
        'i3';
      justify-items: center;

      row-gap: rem(30);
    }
  }

  &__item-text {
    &:nth-child(1) {
      grid-area: i1;

      @include tablet-d {
        width: percent(294, 591);
        justify-self: start;
      }
    }
    &:nth-child(2) {
      grid-area: i2;

      @include tablet-d {
        width: percent(370, 591);
      }
    }
    &:nth-child(3) {
      grid-area: i3;

      @include tablet-d {
        width: percent(264, 591);
        justify-self: end;
      }
    }
    &:nth-child(4) {
      grid-area: i4;
    }

    p {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }
  &__box-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);

    @include mdQuery(0, $pc) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-d {
      grid-template-columns: percent(264, 591);
      justify-content: end;
      gap: 0;
    }

    @include mobile-d {
      grid-template-columns: none;
      justify-content: center;
    }
  }

  &__button {
    margin-top: rem(40);
    min-width: max-content;
    grid-column: 3/4;

    @include mdQuery(0, $pc) {
      grid-column: 2/3;
      margin-top: rem(35);
    }

    @include tablet-d {
      grid-column: 1/2;
      width: percent(260, 591);
    }
  }

  &__slider {
    @extend .text-typing;
    position: relative;
    overflow: hidden;
  }
  // .about-me__slide
  &__slide {
    position: absolute;
    top: 0;
    left: 101%;
    width: 100%;
    transition: all 0.4s ease-out;
    // .about-me__slide_active
    &_active {
      position: relative;
      left: 0;
    }
    // .about-me__slide_prev
    &_prev {
      left: 0;
      opacity: 0;
    }

    p {
      width: percent(210, 260);
      margin: 0 auto;

      @include mobileSmall-u {
        width: percent(270, 388);
      }

      &:nth-child(1) {
        margin-right: 0;

        @include mobileSmall-u {
          margin-right: auto;
        }
      }

      &:nth-child(2) {
        margin-left: 0;

        @include mobileSmall-u {
          margin-left: auto;
        }
      }

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }
  // .about-me__slider-buttons
  &__slider-buttons {
    position: absolute;
    top: percent(9, 720);
    left: percent(190, 320);
    width: percent(74, 320);
    display: flex;
    justify-content: center;
    gap: rem(10);
  }
  &__decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__code {
    position: absolute;
    color: var(--color-about-me-code);

    &_1 {
      left: percent(1469, 1800);
      top: percent(847, 1060);
    }
    &_2 {
      left: 0;
      top: percent(610, 1060);
    }
    &_3 {
      left: percent(1439, 1800);
      top: percent(-47, 1060);
    }
    &_4 {
      left: percent(94, 1800);
      top: percent(128, 1060);
    }
    &_5 {
      left: percent(651, 1800);
      top: percent(723, 1060);
    }

    @include mdQuery(0, $pc) {
      &_2 {
        left: percent(35, 1200);
        top: percent(741, 1127);
      }
      &_3 {
        left: percent(687, 1200);
        top: percent(-41, 1127);
      }
      &_4 {
        left: percent(1004, 1200);
        top: percent(17, 1127);
      }
      &_5 {
        left: percent(-8, 1200);
        top: percent(150, 1127);
      }
    }

    @include tablet-d {
      &_1 {
        left: percent(626, 728);
        top: percent(780, 1128);
      }
      &_2 {
        left: percent(-215, 728);
        top: percent(797, 1128);
      }
      &_3 {
        left: percent(682, 728);
        top: percent(89, 1128);
      }
      &_4 {
        left: percent(-132, 728);
        top: percent(400, 1128);
      }
      &_5 {
        left: percent(243, 728);
        top: percent(-440, 1128);
      }
    }

    @include mobile-d {
      &_1 {
        left: percent(237, 290);
        top: percent(697, 720);
      }
      &_2 {
        left: percent(-24, 290);
        top: percent(680, 720);
      }
      &_3 {
        left: percent(-105, 290);
        top: percent(-105, 720);
      }
    }
  }
}
